body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-align: center;
    background-color: #a52a2a;
}

.container {
    width: 70%;
    margin: 0 auto;
    border: 2px solid white;
    padding: 1em;
}

h1 {
    font-size: 26px;
}

.cabecera {
    background-color: #5ad5d5;
    font-weight: bold;
    font-size: 30px;
    padding: 0.3em;
    color: #a52a2a;
    -webkit-box-shadow: 0px 18px 23px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 18px 23px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 18px 23px 0px rgba(0,0,0,0.41);
}
